/* SUGESTÕES */
.sugestoes {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.sugestoes button {
  font-size: 12px;
  padding: 5px;
}

/* LOADING */
#loading {
  display: none;
  margin-top: 10px;
  font-weight: bold;
}

/* HISTÓRICO */
.historico {
  margin-top: 20px;
}

#listaHistorico {
  list-style: none;
  padding: 0;
  max-height: 100px;
  overflow-y: auto;
}

#listaHistorico li {
  background: #eee;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#listaHistorico li:hover {
  background: #ddd;
}
